 .signup_section{
    background-image: url("/images/1113.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup_form_container {
    z-index: 10px;
    width: 380px;
    height: 460px;
    padding: 30px;
    background-color: white;
    text-align: center;
    & h1{
        color: #0185f2;
        text-align: center;
        margin-bottom: 20px;
    } 
}
.input_box{
    display: flex;
    margin-bottom: 20px;
    & input{
    height: 48px;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 15px;
   font-size: 16px;
   background-color: #eaeaea;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
    }
}
.input_icon{
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 12px;
}

#signup_btn{
    margin-top: 18px;
    width: 70%;
    height: 45px;
    border: none;
    background-color: #0185f2;
    color: white;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
}
.login_div{
    margin: 10px 0px;
   & Link{
    color: blue;
    text-decoration: none;
   }
}
.error_div{
    background-color: rgba(255,0,0,0.4);
    padding: 6px;
    text-align: center;
}
@media (max-width: 500px)
{
    .signup_form_container
    {
        width: 300px;
        height: 380px;
        padding: 20px;
        & h1{
            font-size: 26px;
        }
    }
    .input_box
    {
        & input{
            height: 40px;
        }
    }
    #signup_btn{
        margin-top: 0px;
        height: 40px;
        font-size: 15px;
    }
}
@media (max-width: 350px)
{
    .signup_form_container
    {
        width: 250px;
        & h1{
            font-size: 22px;
        }
    }
}